<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.ActivememberDao">
    <!--    <sql id="columns">-->
    <!--        select activemember.id as id,-->
    <!--               student,-->
    <!--               name,-->
    <!--               clazz,-->
    <!--               activity.id     as aid,-->
    <!--               responsible,-->
    <!--               remarks,-->
    <!--               active, time-->
    <!--        from activemember-->
    <!--            join activity-->
    <!--        on activemember.activity = activity.id-->
    <!--    </sql>-->
    <!--    <sql id="count">-->
    <!--        select count(*)-->
    <!--        from activemember-->
    <!--                 join activity-->
    <!--                      on activemember.activity = activity.id-->
    <!--    </sql>-->
    <!--    <resultMap id="Pojo" type="com.SchoolManage.pojo.Activemember">-->
    <!--        <id property="id" column="id"/>-->
    <!--        <result property="clazz" column="clazz"/>-->
    <!--        <result property="student" column="student"/>-->
    <!--        <result property="name" column="name"/>-->
    <!--        <association property="activity" javaType="com.SchoolManage.pojo.Activity">-->
    <!--            <id property="id" column="aid"/>-->
    <!--            <result property="active" column="active"/>-->
    <!--            <result property="remarks" column="remarks"/>-->
    <!--            <result property="responsible" column="responsible"/>-->
    <!--            <result property="time" column="time/"-->
    <!--        </association>-->
    <!--    </resultMap>-->
    <insert id="insertData">
        insert into activemember(activity, student, clazz)
        values (#{activemember.activity.id}, #{activemember.student}, #{activemember.clazz})
    </insert>
    <insert id="insertDatas">
        insert into activemember(activity,student,clazz)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.activity.id},#{item.student},#{item.clazz})
        </foreach>
    </insert>
    <delete id="deleteData">
        delete
        from activemember
        where id = #{id}
    </delete>
    <select id="findAll" resultType="com.SchoolManage.pojo.Activemember">
        select *
        from activemember limit #{startPage},#{num}
    </select>
    <select id="findAllCount" resultType="java.lang.Integer">
        select count(*)
        from activemember
    </select>
    <select id="findByActive" resultType="com.SchoolManage.pojo.Activemember">
        select *
        from activemember
        where activity = #{id} limit #{startPage}
            , #{num}
    </select>
    <select id="findByActiveCount" resultType="java.lang.Integer">
        select count(*)
        from activemember
        where activity = #{id}
    </select>
    <select id="findByClazz" resultType="com.SchoolManage.pojo.Activemember">
        select *
        from activemember
        where clazz like "%" #{clazz} "%" limit #{startPage}
            , #{num}
    </select>
    <select id="findByClazzCount" resultType="java.lang.Integer">
        select *
        from activemember
        where clazz like "%" #{clazz} "%"
    </select>
    <select id="findByActiveAndClazz" resultType="com.SchoolManage.pojo.Activemember">
        select *
        from activemember
        where activity = #{id}
          and clazz = #{clazz} limit #{startPage}
            , #{num}
    </select>
    <select id="findByActiveAndClazzCount" resultType="java.lang.Integer">
        select *
        from activemember
        where activity = #{id}
          and clazz = #{clazz}
    </select>

</mapper>
