<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.ActivityDao">
    <insert id="insertAc">
        insert into activity(responsible, remarks, active, time)
        values (#{activity.responsible}, #{activity.remarks}, #{activity.active} #{activity.time,jdbcType=DATE})
    </insert>
    <insert id="insertAcs">
        insert into activity(responsible,remarks, active, time)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.responsible},#{item.remarks},#{item.active},#{item.time,jdbcType=DATE})
        </foreach>
    </insert>
    <delete id="deleteAc">
        delete
        from activity
        where id = #{id}
    </delete>


    <select id="findAll" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity limit #{startPage},#{num}
    </select>
    <select id="findByStudentPage" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where id in (select activity from activemember where student = #{student}) limit #{startPage}
            , #{num}
    </select>
    <select id="findByActive" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where active like "%" #{active} "%" limit #{startPage}
            , #{num}
    </select>
    <select id="findByTime" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d') limit #{startPage}
            , #{num}
    </select>
    <select id="findAllCount" resultType="java.lang.Integer">
        select count(*)
        from activity
    </select>
    <select id="findByStudentNoPage" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where id in (select activity from activemember where student = #{student})
    </select>
    <select id="findByStudentCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where id in (select activity from activemember where student = #{student})
    </select>
    <select id="findByActiveCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where active like "%" #{active} "%"
    </select>
    <select id="findByTimeCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
    </select>
    <select id="findByTimeYearAndMonth" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m') limit #{startPage}
            , #{num}
    </select>
    <select id="findByTimeYearAndMonthCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m')
    </select>
    <select id="findByTimeYear" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where date_format(time, '%Y') = date_format(#{time}, '%Y') limit #{startPage}
            , #{num}
    </select>
    <select id="findByTimeYearCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where date_format(time, '%Y') = date_format(#{time}, '%Y')
    </select>
    <select id="findByRes" resultType="com.SchoolManage.pojo.Activity">
        select *, (select count(*) from activemember where activemember.activity = activity.id) as number
        from activity
        where responsible like "%" #{responsible} "%" limit #{startPage}
            , #{num}
    </select>
    <select id="findByResCount" resultType="java.lang.Integer">
        select count(*)
        from activity
        where responsible like "%" #{responsible} "%"
    </select>

</mapper>
