<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.DepartMentDao">
    <insert id="insertData">
        insert into department(name, college, minister, phone, comy)
        values (#{departMent.name}, #{departMent.college}, #{departMent.minister}, #{departMent.phone},
                #{departMent.comy})
    </insert>
    <insert id="insertDatas">
        insert into department(name,college,minister,phone,comy)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.name},#{item.college},#{item.minister},#{item.phone},#{item.comy})
        </foreach>
    </insert>
    <update id="updateData">
        update department
        set name     = #{departMent.name},
            college  = #{departMent.college},
            minister = #{departMent.minister},
            phone    = #{departMent.phone},
            comy     = #{departMent.comy}
        where id = #{departMent.id}
    </update>
    <delete id="deleteData">
        delete
        from department
        where id = #{id}
    </delete>


    <select id="findAll" resultType="com.SchoolManage.pojo.DepartMent">
        select *,(select count(*) from member where member.department = department.name) as num from
        department
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
        limit #{startPage},#{num};
    </select>
    <select id="findByName" resultType="com.SchoolManage.pojo.DepartMent">
        select *, (select count(*) from member where member.department = department.name) as num
        from department
        where department.name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num};
    </select>
    <select id="findByMinister" resultType="com.SchoolManage.pojo.DepartMent">
        select *, (select count(*) from member where member.department = department.name) as num
        from department
        where department.minister like "%" #{minister} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num};
    </select>
    <select id="findByCollege" resultType="com.SchoolManage.pojo.DepartMent">
        select *, (select count(*) from member where member.department = department.name) as num
        from department
        where department.college like "%" #{college} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num};
    </select>
    <select id="findAllNum" resultType="java.lang.Integer">
        select count(*)
        from department
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByNameNum" resultType="java.lang.Integer">
        select count(*)
        from department
        where department.name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByMinisterNum" resultType="java.lang.Integer">
        select count(*)
        from department
        where department.minister like "%" #{minister} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByCollegeNum" resultType="java.lang.Integer">
        select count(*)
        from department
        where department.college like "%" #{college} "%"
    </select>
    <select id="findById" resultType="com.SchoolManage.pojo.DepartMent">
        select *, (select count(*) from member where member.department = department.name) as num
        from department
        where id = #{id}
    </select>


</mapper>
