<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.HonourDao">
    <insert id="insertHon">
        insert into honour(student, type, prize, time)
        values (#{honour.student}, #{honour.type}, #{honour.prize}, #{honour.time,jdbcType=DATE})
    </insert>
    <insert id="insertHons">
        insert into honour(student,type,prize,time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.student},#{item.type},#{item.prize},#{item.time,jdbcType=DATE})
        </foreach>
    </insert>
    <delete id="deleteHon">
        delete
        from honour
        where id = #{id}
    </delete>

    <select id="findAll" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour limit #{startPage},#{num}
    </select>
    <select id="findByStudentPage" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where student = #{student} limit #{startPage}
            , #{num}
    </select>
    <select id="findByType" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where type like "%" #{type} "%" limit #{startPage}
            , #{num}
    </select>
    <select id="findByPrize" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where prize like "%" #{prize} "%" limit #{startPage}
            , #{num}
    </select>
    <select id="findByTime" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d') limit #{startPage}
            , #{num}
    </select>
    <select id="findByConditions" resultType="com.SchoolManage.pojo.Honour">
        select * from honour
        <if test="map != null">
            <where>
                <foreach collection="map" item="item" index="key" separator="and">
                    ${key} = #{item}
                </foreach>
            </where>
        </if>
    </select>
    <select id="findAllCount" resultType="java.lang.Integer">
        select count(*)
        from honour
    </select>
    <select id="findByStudentNoPage" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where student = #{student}
    </select>
    <select id="findByStudentCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where student = #{student}
    </select>
    <select id="findByTypeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where type like "%" #{type} "%"
    </select>
    <select id="findByPrizeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where prize like "%" #{prize} "%"
    </select>
    <select id="findByTimeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
    </select>
    <select id="findByTimeYearAndMonth" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m') limit #{startPage}
            , #{num}
    </select>
    <select id="findByTimeYearAndMonthCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m')
    </select>
    <select id="findByTimeYear" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y') = date_format(#{time}, '%Y') limit #{startPage}
            , #{num}
    </select>
    <select id="findByTimeYearCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y') = date_format(#{time}, '%Y')
    </select>
    <update id="updateHonour" parameterType="com.SchoolManage.pojo.Honour">
        update honour
        set student                       = #{student},
            `type`                        = #{type},
            prize                         = #{prize},
            date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
        where id = #{id};
    </update>
    <select id="findById" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where id = #{id};
    </select>
</mapper>
