<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.HonourDao">
    <insert id="insertHon">
        insert into honour(student, type, prize, time, name, clazz, comy)
        values (#{honour.student}, #{honour.type}, #{honour.prize},
                #{honour.time,jdbcType=DATE},
                #{honour.name}, #{honour.clazz}, #{honour.comy})
    </insert>
    <insert id="insertHons">
        insert into honour(student,`type`,prize,`time`,`name`,clazz,comy)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.student},#{item.type},#{item.prize},#{item.time,jdbcType=DATE},
            #{item.name},#{item.clazz},#{item.comy})
        </foreach>
    </insert>
    <update id="updateHonour">
        update honour
        set student = #{honour.student},
            type    = #{honour.type},
            prize   = #{honour.prize},
            time    = date_format(#{honour.time,jdbcType=DATE}, '%Y-%m-%d'),
            name    = #{honour.name},
            clazz   = #{honour.clazz},
            set     = #{honour.comy}
        where id = #{honour.id};
    </update>
    <delete id="deleteHon">
        delete
        from honour
        where id = #{id}
    </delete>

    <select id="findAll" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        <if test="comy != null and comy != '' ">
            where find_in_set(#{comy},comy)
        </if>
        limit #{startPage},#{num}
    </select>
    <select id="findByStudentPage" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where student = #{student}
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByType" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where type like "%" #{type} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByPrize" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where prize like "%" #{prize} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByTime" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByConditions" resultType="com.SchoolManage.pojo.Honour">
        select * from honour
        <if test="map != null">
            <where>
                <foreach collection="map" item="item" index="key"
                         separator="and">
                    <if test="key == 'clazz'">
                        ${key} like "%" #{item} "%"
                    </if>
                    <if test="key != clazz">
                        ${key} = #{item}
                    </if>
                </foreach>
            </where>
            <if test="comy != null and comy != '' ">
                and find_in_set(#{comy},comy)
            </if>
        </if>
        <if test="map == null">
            <if test="comy != null and comy != '' ">
                where find_in_set(#{comy},comy)
            </if>
        </if>
    </select>
    <select id="findAllCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        <if test="comy != null and comy != '' ">
            where find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByStudentNoPage" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where student = #{student}
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByStudentCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where student = #{student}
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByTypeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where type like "%" #{type} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByPrizeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where prize like "%" #{prize} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByTimeCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByTimeYearAndMonth"
            resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByTimeYearAndMonthCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByTimeYear" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where date_format(time, '%Y') = date_format(#{time}, '%Y')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByTimeYearCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where date_format(time, '%Y') = date_format(#{time}, '%Y')
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findById" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where id = #{id};
    </select>
    <select id="findByName" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByNameCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
    <select id="findByDate" resultType="com.SchoolManage.pojo.Honour">
        select *
        from honour
        where time like "%" #{date} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
        limit #{startPage},#{num}
    </select>
    <select id="findByDateCount" resultType="java.lang.Integer">
        select count(*)
        from honour
        where time like "%" #{date} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(#{comy},comy)
        </if>
    </select>
</mapper>
