<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.LogDao">
    <insert id="insertLog">
        insert into log(time,type,message,operation_teacher,operation_student,operation_table)
        values (#{log.time},#{log.type},#{log.message},#{log.operation_teacher},#{log.operation_student},#{log.operation_table})
    </insert>


    <select id="findLog" resultType="com.SchoolManage.pojo.Log">
        select * from log
    </select>

    <select id="findLogByTime" resultType="com.SchoolManage.pojo.Log">
        select * from log where time like "%" #{time} "%"
    </select>

    <select id="findLogByTeacher" resultType="com.SchoolManage.pojo.Log">
        select * from log where operation_teacher = #{username}
    </select>

    <select id="findLogByStudent" resultType="com.SchoolManage.pojo.Log">
        select * from log where operation_student = #{id}
    </select>

    <select id="findLogByTable" resultType="com.SchoolManage.pojo.Log">
        select * from log where operation_table = #{table}
    </select>

</mapper>
