<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.LogsDao">

    <insert id="insertData" useGeneratedKeys="true" keyProperty="id">
        insert into logs(title, start, end, className,user)
        values (#{logs.title}, #{logs.start}, #{logs.end}, #{logs.className}, #{logs.user})
    </insert>
    <insert id="insertDatas">
        insert into logs(title,start,end,className,user)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.title},#{item.start},#{item.end},#{item.className}, #{logs.user})
        </foreach>
    </insert>
    <update id="updateData">
        update logs
        set title     = #{logs.title},
            start     = #{logs.start},
            end       = #{logs.end},
            className = #{logs.className},
            user  = #{logs.user},
            maid =#{logs.maid}
        where id = #{logs.id}
    </update>
    <delete id="deleteData">
        delete
        from logs
        where id = #{id}
    </delete>
    <select id="findAll" resultType="com.SchoolManage.pojo.Logs">
        select *
        from logs
        where user =#{user}
    </select>
    <select id="findbyId" resultType="com.SchoolManage.pojo.Logs">
        select *
        from logs
        where id =#{id}
    </select>
    <select id="findAllNum" resultType="java.lang.Integer">
        select count(*)
        from logs
    </select>
</mapper>
