<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.PresentClassDao">

    <select id="findClazz" resultType="com.SchoolManage.pojo.PresentClass">
        select *
        from present_class
        where className = #{clazz}
    </select>
    <select id="findAll" resultType="com.SchoolManage.pojo.PresentClass">
        select * from present_class
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
        limit #{startPage},#{num}
    </select>
</mapper>
