<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.StudentDao">
    <insert id="insertStudent">
        insert into student
        values (#{student.id}, #{student.name}, #{student.sex}, #{student.comy}, #{student.clno}, #{student.major},
                #{student.present_class}, #{student.phone}, #{student.bedroom_lou},
                #{student.birth}, #{student.nativeplace}, #{student.address}, #{student.father_phone},
                #{student.mother_phone}, #{student.photo},
                #{student.original_class}, #{student.original_post}, #{student.present_post},
                #{student.nation}, #{student.religion}, #{student.bedroom_hao}, #{student.idcard}, #{student.bank},
                #{student.father_name}, #{student.mother_name},
                #{student.father_profession},
                #{student.mother_profession}, #{student.direction})
    </insert>
    <insert id="insertBatchStudent">
        insert into student
        values
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.name},#{item.sex},#{item.comy},#{item.clno},#{item.major},
            #{item.present_class},#{item.phone},#{item.bedroom_lou},
            #{item.birth},#{item.nativeplace},#{item.address},#{item.father_phone},
            #{item.mother_phone},#{item.photo},
            #{item.original_class},#{item.original_post},#{item.present_post},
            #{item.nation},#{item.religion},#{item.bedroom_hao},#{item.idcard},#{item.bank},
            #{item.father_name},#{item.mother_name},
            #{item.father_profession},
            #{item.mother_profession},#{item.direction})
        </foreach>
    </insert>
    <update id="updateStudent">
        update student
        set name              = #{student.name},
            sex               = #{student.sex},
            comy              = #{student.comy},
            clno              = #{student.clno},
            major             = #{student.major},
            present_class     = #{student.present_class},
            phone             = #{student.phone},
            bedroom_lou       = #{student.bedroom_lou},
            birth             = #{student.birth},
            nativeplace       = #{student.nativeplace},
            address           = #{student.address},
            father_name       = #{student.father_name},
            mother_name       = #{student.mother_name},
            father_phone      = #{student.father_phone},
            mother_phone      = #{student.mother_phone},
            father_profession = #{student.father_profession},
            mother_profession = #{student.mother_profession},
            photo             = #{student.photo},
            original_class    = #{student.original_class},
            original_post     = #{student.original_post},
            present_post      = #{student.present_post},
            nation            = #{student.nation},
            religion          = #{student.religion},
            bedroom_hao       = #{student.bedroom_hao},
            idcard            = #{student.idcard},
            bank              = #{student.bank},
            direction         = #{student.direction}
        where id = #{student.id}
    </update>
    <select id="findById" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where id = #{id}
    </select>
    <select id="findByName" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByClass_or" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where original_class like "%" #{original_class} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByMajor" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where major like "%" #{major} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByClass_pe" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where present_class like "%" #{present_class} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findAll" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="selectStudentNum" resultType="java.lang.Integer">
        select count(*) from student
        <where>
            <if test="conditionName != null and conditionName != '' and conditionValue != null and conditionValue != ''">
                and ${conditionName} = #{conditionValue}
            </if>
            <if test="comy != null and comy != '' ">
                and find_in_set(comy,#{comy})
            </if>
        </where>
    </select>
    <select id="findPage" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
        limit #{startPage},#{num}
    </select>
    <select id="findAllNum" resultType="java.lang.Integer">
        select count(*)
        from student
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByDirection" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where direction like "%" #{direction} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <delete id="deleteStudent" parameterType="String">
        delete
        from student
        where id = #{id}
    </delete>

    <select id="findOriginalCadre" resultType="com.SchoolManage.pojo.Student">
        select *
        from student,
        (select * from original_class where class = #{clazz}) temp
        where student.id in
        (temp.monitor, temp.study, temp.league, temp.vice_monitor, temp.mentality, temp.style, temp.organization,
        temp.publicize)
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findDirection" resultType="java.lang.String">
        select direction
        from student
        <if test="comy != null and comy != '' ">
            where find_in_set(comy,#{comy})
        </if>
        group by direction
    </select>
    <select id="findPresentCadre" resultType="com.SchoolManage.pojo.Student">
        select *
        from student,
        (select * from present_class where class = #{clazz}) temp
        where student.id in
        (temp.monitor, temp.study, temp.league, temp.vice_monitor, temp.mentality, temp.style, temp.organization,
        temp.publicize)
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
    <select id="findByMultipleConditions" resultType="com.SchoolManage.pojo.Student">
        select * from student
        <if test="map != null">
            <where>
                <foreach collection="map" index="key" item="value" separator="and">
                    ${key} = #{value}
                </foreach>
                <if test="comy != null and comy != '' ">
                    and find_in_set(comy,#{comy})
                </if>
            </where>
            limit #{startPage},#{num}
        </if>
        <if test="map == null">
            <if test="comy != null and comy != '' ">
                where find_in_set(comy,#{comy})
            </if>
        </if>
    </select>
    <select id="findByMultipleConditionsCount" resultType="java.lang.Integer">
        select count(*) from student
        <if test="maps != null">
            <where>
                <foreach collection="maps" index="key" item="values" separator="and">
                    ${key} = #{values}
                </foreach>
                <if test="comy != null and comy != '' ">
                    and find_in_set(comy,#{comy})
                </if>
            </where>
        </if>
        <if test="maps == null">
            <if test="comy != null and comy != '' ">
                where find_in_set(comy,#{comy})
            </if>
        </if>
    </select>
    <select id="findPresentCadreCount" resultType="java.lang.Integer">
        select count(*)
        from student,
        (select * from present_class where class = #{clazz}) temp
        where student.id in
        (temp.monitor, temp.study, temp.league, temp.vice_monitor, temp.mentality, temp.style, temp.organization,
        temp.publicize)
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findOriginalCadreCount" resultType="java.lang.Integer">
        select count(*)
        from student,
        (select * from original_class where class = #{clazz}) temp
        where student.id in
        (temp.monitor, temp.study, temp.league, temp.vice_monitor, temp.mentality, temp.style, temp.organization,
        temp.publicize)
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByDirectionCount" resultType="java.lang.Integer">
        select count(*)
        from student
        where direction like "%" #{direction} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByNameCount" resultType="java.lang.Integer">
        select count(*)
        from student
        where name like "%" #{name} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByClass_orCount" resultType="java.lang.Integer">
        select count(*)
        from student
        where original_class like "%" #{original_class} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByClass_peCount" resultType="java.lang.Integer">
        select count(*)
        from student
        where present_class like "%" #{present_class} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByMajorCount" resultType="java.lang.Integer">
        select count(*)
        from student
        where major like "%" #{major} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByArea" parameterType="String" resultType="int">
        select count(*)
        from student
        where nativeplace like concat('%', #{area}, '%')
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByAreaStudent" resultType="com.SchoolManage.pojo.Student">
        select *
        from student
        where nativeplace like concat('%', #{area}, '%')
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
        limit #{startPage}
        , #{num}
    </select>
</mapper>
