<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.TalkMemberDao">
    <sql id="typeName">
        ,
                (select type from talktype where id = talkmember.type)
                as typeName,(select count(*) from talkmember as talk where talk.code = talkmember.code) as number
    </sql>

    <select id="findAll" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where type = #{type}
        limit #{startPage},#{num}
    </select>

    <select id="findAllCount" resultType="int">
        select count(*)
        from talkmember
        where type = #{type}
    </select>

    <update id="updateData">
        update talkmember
        set type         = #{talkMember.type},
            clazz        = #{talkMember.clazz},
            code         = #{talkMember.code},
            name         = #{talkMember.name},
            status       = #{talkMember.status},
            own_phone    = #{param1.own_phone},
            family_phone = #{talkMember.family_phone},
            solution     = #{talkMember.solution},
            remarks      = #{talkMember.remarks}
        where id = #{talkMember.id}
    </update>

    <insert id="insertData">
        insert into talkmember(type, clazz, code, name, status, own_phone,
                               family_phone, solution, remarks)
        values (#{talkMember.type}, #{talkMember.clazz}, #{talkMember.code}, #{talkMember.name},
                #{talkMember.status}, #{talkMember.own_phone}, #{talkMember.family_phone}, #{talkMember.solution},
                #{talkMember.remarks})
    </insert>

    <insert id="insertDatas">
        insert into talkmember(type, clazz, code, name, status, own_phone,
        family_phone, solution, remarks)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.type},#{item.clazz},#{item.code},#{item.name},#{item.status},#{item.own_phone},#{item.family_phone},#{item.solution},#{item.remarks})
        </foreach>
    </insert>

    <delete id="deleteData">
        delete
        from talkmember
        where id = #{id}
    </delete>
    <select id="findById" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where id = #{id}
    </select>

    <select id="findByCodeAndType" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where type = #{type}
        and code = #{code}
        limit #{startPage},#{num}
    </select>

    <select id="findByCode" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where code = #{code}
        limit #{startPage},#{num}
    </select>

    <select id="findByCodeAndTypeCount" resultType="int">
        select count(*)
        from talkmember
        where type = #{type}
          and code = #{code}
    </select>

    <select id="findByCodeCount" resultType="int">
        select count(*)
        from talkmember
        where code = #{code}
    </select>

    <select id="findByName" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where type = #{type}
        and name like concat("%", #{name}, "%")
        limit #{startPage},#{num}
    </select>
    <select id="findBytype" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where type = #{type}
        limit #{startPage},#{num}
    </select>
    <select id="findBytypeCount" resultType="int">
        select count(*)
        from talkmember
        where type = #{type}
    </select>
    <select id="findByNameCount" resultType="int">
        select count(*)
        from talkmember
        where type = #{type}
          and name like concat("%", #{name}, "%")
    </select>

    <select id="findByTime" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where time like concat("%",#{time},"%")
        limit #{startPage},#{num}
    </select>

    <select id="findByTimeCount" resultType="int">
        select count(*)
        from talkmember
        where time like concat("%", #{time}, "%")
        limit #{startPage},#{num}
    </select>

    <select id="findByTimeAndType" resultType="com.SchoolManage.pojo.TalkMember">
        select *
        <include refid="typeName">
        </include>
        from talkmember
        where time like concat("%",#{time},"%") and type = #{type}
        limit #{startPage},#{num}
    </select>

    <select id="findByTimeAndTypeCount" resultType="int">
        select count(*)
        from talkmember
        where time like concat("%", #{time}, "%")
          and type = #{type}
        limit #{startPage},#{num}
    </select>
</mapper>
