<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SchoolManage.dao.TalkDao">
    <insert id="insertTalk">
        insert
        into talk(student, teacher, content, time, comy, types, level)
        values (#{talk.student},
                #{talk.teacher},
                #{talk.content},
                #{talk.time,jdbcType=DATE}, #{talk.comy}, #{talk.types}, #{talk.level})

    </insert>
    <insert id="insertAllTalk">
        insert into talk(student,teacher,content,time,comy,types,level)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.student},#{item.teacher},#{item.content},#{item.time,jdbcType=DATE},#{item.comy},#{item.types},#{item.level})
        </foreach>
    </insert>
    <delete id="deleteTalk">
        delete
        from talk
        where id = #{id}
    </delete>
    <select id="findAll" resultType="com.SchoolManage.pojo.Talk">
        select * from talk
        <if test="comy != null and comy !='' ">
            where find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByStudent" resultType="com.SchoolManage.pojo.Talk">
        select * from talk
        where student = #{student}
        <if test="comy != null and comy !='' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByStudentCount" resultType="java.lang.Integer">
        select count(*) from talk
        where student = #{student}
        <if test="comy != null and comy !='' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByTeacher" resultType="com.SchoolManage.pojo.Talk">
        select * from talk
        where teacher like "%" #{teacher} "%"
        <if test="comy != null and comy !='' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByTime" resultType="com.SchoolManage.pojo.Talk">
        select *
        from talk
        where date_format(time, '%Y-%m-%d') = date_format(#{time}, '%Y-%m-%d')
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByTimeYearAndMonth" resultType="com.SchoolManage.pojo.Talk">
        select *
        from talk
        where date_format(time, '%Y-%m') = date_format(#{time}, '%Y-%m')
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByTimeYear" resultType="com.SchoolManage.pojo.Talk">
        select *
        from talk
        where date_format(time, '%Y') = date_format(#{time}, '%Y')
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findById" resultType="com.SchoolManage.pojo.Talk">
        select *
        from talk
        where id = #{id}
    </select>
    <select id="findByTypes" resultType="com.SchoolManage.pojo.Talk">
        select * from talk
        where types like "%" #{types} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByDateAndTypesAndLevel" resultType="com.SchoolManage.pojo.Talk">
        select *
        from talk
        where time like "%" #{time} "%" and types like "%" #{types} "%" and level like "%" #{level} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <select id="findByDate" resultType="com.SchoolManage.pojo.Talk">
        select * from talk
        where time like "%" #{date} "%"
        <if test="comy != null and comy != '' ">
            and find_in_set(comy,#{comy})
        </if>
    </select>
    <update id="updata">
        update talk
        set student = #{talk.student},
            time    = #{talk.time},
            content = #{talk.content},
            comy    = #{talk.comy},
            types   = #{talk.types},
            level   = #{talk.level}
        where id = #{talk.id}
    </update>

</mapper>
