<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>成功！</title>

    <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- alert beautiful-->
    <link rel="stylesheet" th:href="@{/assets/css/sweetalert.css}">
    <script th:src="@{/assets/js/sweetalert-dev.js}"></script>
    <script type="text/javascript">
        var url = document.location.toString();//获取url地址
        var Name=null;
        if(url.indexOf("?")!=-1)
        {
            var urlParmStr = url.slice(url.indexOf('?')+1);//获取问号后所有的字符串
            var arr = urlParmStr.split('&');//通过&符号将字符串分割转成数组
            Name= arr[0].split("=")[1];//获取数组中第一个参数//
            Name=decodeURI(Name);//转码将解码方式换为decodeURI，将中文参数获取
            Name=Name.replace(/_/g,'\\');
            Name=eval("'"+Name+"'");
            console.log(Name)
        }
        $(document).ready(function(){
            swal("操作成功！", "即将返回谈话成员列表", "success");
            if (Name!=""&&Name!=null){setTimeout("window.location.href='/member-psychology.html?type='+Name", "1200");}
            else {setTimeout("window.location.href='/psychology.html'", "1200");}
        });

    </script>
</head>
<body>

</body>
</html>
