<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>学生信息管理系统后台</title>

		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{/assets/img/favicon.png}">

		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

		<!-- Main CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">

		<!-- jQuery -->
		<script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>

		<!-- Bootstrap Core JS -->
		<script th:src="@{/assets/js/popper.min.js}"></script>
		<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/js/moment.min.js}"></script>
		<!-- Slimscroll JS -->
		<script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>



		<!-- Custom JS -->
		<script th:src="@{/assets/js/script.js}"></script>
		<!-- alert beautiful-->
		<link rel="stylesheet" th:href="@{/assets/css/sweetalert.css}">
		<script th:src="@{/assets/js/sweetalert-dev.js}"></script>
		<script type="text/javascript">
			var url = document.location.toString();//获取url地址
			var studentObj=null;
			if(url.indexOf("?")!=-1)
			{
				var urlParmStr = url.slice(url.indexOf('?')+1);//获取问号后所有的字符串
				var arr = urlParmStr.split('&');//通过&符号将字符串分割转成数组
				var Id = arr[0].split("=")[1];//获取数组中第一个参数// unit_title=decodeURI(unit_title);//转码将解码方式换为decodeURI，将中文参数获取
				console.log(Id)
				$.ajax({
					type:"post",
					url:"student/findbyid",
					dataType:"json",
					data: {id:Id}
				}).done(function (res) {
					console.log(res);
					obj=res;
					var props = "";
					for(var p in obj){
						if(typeof(obj[p])=="function"){
							obj[p]();
						}else{
							if(document.getElementById(p)!=null)
							{
								document.getElementById(p).value= obj[p];
								document.getElementById(p).innerText=obj[p];
							}
						}
					}
				})
			}
			//获取缓存中登录账号的信息
			var adminuserInfo=JSON.parse(window.localStorage.getItem("adminuserInfo"));
			var name=adminuserInfo.name;
			$(document).ready(function () {
				$('#InfoName').text(name);
				$.ajax({
					type:"post",
					url:"QingJia/findbystudentnopage",
					dataType:"json",
					data: {student:Id}
				}).done(function (res) {
					console.log(res)
					var msg = "";
					msg+="<h5>"+"请假"+"</h5>";
					$.each(res, function (i, n) {
						n.start_time=moment(n.start_time).format('Y-M-D-HH:mm');
						n.end_time=moment(n.end_time).format('Y-M-D-HH:mm');
						msg+="<p>"+n.start_time+"到"+n.end_time+n.name+"因"+n.cause+"请假"+"</p>";
					});
					$("#qingjia").html(msg);
				})
				$.ajax({
					type:"post",
					url:"honour/findbystudentnopage",
					dataType:"json",
					data: {student:Id}
				}).done(function (res) {
					console.log(res)
					var msg = "";
					msg+="<h5>"+"荣誉"+"</h5>";
					$.each(res, function (i, n) {
						msg+="<p>"+n.name+n.time+"获得"+n.prize+"</p>";
					});
					$("#honour").html(msg);
				})
				

			});
		</script>
    </head>
    <body>

		<!-- Main Wrapper -->
        <div class="main-wrapper"id="mains" >

			<!-- Header -->
            <div class="header">

				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img th:src="@{/assets/img/logo.png}" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img th:src="@{/assets/img/logo-small.png}" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->

				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fas fa-align-left"></i>
				</a>

				<!-- Search Bar -->
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- /Search Bar -->

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="far fa-bell"></i> <span class="badge badge-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">通知</span>
								<a href="javascript:void(0)" class="clear-noti"> 全部清除 </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/assets/img/profiles/avatar-02.jpg}">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/assets/img/profiles/avatar-11.jpg}">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/assets/img/profiles/avatar-17.jpg}">
												</span>
												<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/assets/img/profiles/avatar-13.jpg}">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">查看所有通知</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" th:src="@{/assets/img/profiles/avatar-01.jpg}" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img th:src="@{/assets/img/profiles/avatar-01.jpg}" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6 id="InfoName"></h6>
									<p class="text-muted mb-0">管理员</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">我的个人资料</a>
							<a class="dropdown-item" href="inbox.html">收件箱</a>
							<a class="dropdown-item" href="/admin/logout">注销</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
				<!-- /Header Right Menu -->

            </div>
			<!-- /Header -->

			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
								<span>主菜单</span>
							</li>
							<li>
								<a href="index.html"><i class="fas fa-th-large"></i> <span>仪表板</span></a>
							</li>
							<li class="submenu active">
								<a href="#"><i class="fas fa-user-graduate"></i> <span> 学生</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="students.html" class="active">学生列表</a></li>
<!--									<li><a href="student-details.html" class="active">学生信息</a></li>-->
									<li><a href="add-student.html">学生添加</a></li>
<!--									<li><a href="edit-student.html">学生编辑</a></li>-->
								</ul>
							</li>
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> 教师</span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="teachers.html">教师列表</a></li>-->
<!--									<li><a href="teacher-details.html">教师信息</a></li>-->
<!--									<li><a href="add-teacher.html">教授添加</a></li>-->
<!--									<li><a href="edit-teacher.html">教授编辑</a></li>-->
<!--								</ul>-->
<!--							</li>-->
							<li class="submenu">
								<a href="#"><i class="fas fa-building"></i> <span> 部门</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="departments.html">部门列表</a></li>
									<li><a href="add-department.html">部门添加</a></li>
<!--									<li><a href="edit-department.html">部门编辑</a></li>-->
								</ul>
							</li>
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="subjects.html">Subject List</a></li>-->
<!--									<li><a href="add-subject.html">Subject Add</a></li>-->
<!--									<li><a href="edit-subject.html">Subject Edit</a></li>-->
<!--								</ul>-->
<!--							</li>-->

							<li class="menu-title">
								<span>管理</span>
							</li>

<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="fees-collections.html">Fees Collection</a></li>-->
<!--									<li><a href="expenses.html">Expenses</a></li>-->
<!--									<li><a href="salary.html">Salary</a></li>-->
<!--									<li><a href="add-fees-collection.html">Add Fees</a></li>-->
<!--									<li><a href="add-expenses.html">Add Expenses</a></li>-->
<!--									<li><a href="add-salary.html">Add Salary</a></li>-->
<!--								</ul>-->
<!--							</li>-->
							<li class="submenu">
								<a href="#"><i class="fas fa-holly-berry"></i> <span>假期</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="holiday.html">假期列表</a></li>
									<li><a href="add-holiday.html">假期添加</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-address-card"></i> <span>荣誉</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="honour.html">荣誉列表</a></li>
									<li><a href="add-honour.html">荣誉添加</a></li>
								</ul>
							</li>
<!--							<li>-->
<!--								<a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>费用</span></a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>考试列表</span></a>-->
<!--							</li>-->
							<li>
								<a href="event.html"><i class="fas fa-calendar-day"></i> <span>日志</span></a>
							</li>
<!--							<li>-->
<!--								<a href="time-table.html"><i class="fas fa-table"></i> <span>时间表</span></a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a href="library.html"><i class="fas fa-book"></i> <span>Library</span></a>-->
<!--							</li>-->

<!--							<li class="menu-title">-->
<!--								<span>Pages</span>-->
<!--							</li>-->

<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="login.html">Login</a></li>-->
<!--									<li><a href="register.html">Register</a></li>-->
<!--									<li><a href="forgot-password.html">Forgot Password</a></li>-->
<!--									<li><a href="error-404.html">Error Page</a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a href="blank-page.html"><i class="fas fa-file"></i> <span>Blank Page</span></a>-->
<!--							</li>-->

							<li class="menu-title">
								<span>其他</span>
							</li>

<!--							<li>-->
<!--								<a href="sports.html"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>-->
<!--							</li>-->
							<li class="submenu">
								<a href="#"><i class="fas fa-hotel"></i> <span>宿舍</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="hostel.html">宿舍列表</a></li>
									<li><a href="add-hostel.html">宿舍添加</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fas fa-basketball-ball"></i> <span>活动</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="activity.html">活动列表</a></li>
									<li><a href="add-activity.html">活动添加</a></li>
								</ul>
							</li>
							<li>
								<a href="psychology.html"><i class="fas fa-comment"></i> <span>谈话</span></a>
							</li>
<!--							<li>-->
<!--								<a href="transport.html"><i class="fas fa-bus"></i> <span>Transport</span></a>-->
<!--							</li>-->
<!--							<li class="menu-title">-->
<!--								<span>UI Interface</span>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a href="components.html"><i class="fas fa-vector-square"></i> <span>Components</span></a>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="form-basic-inputs.html">Basic Inputs </a></li>-->
<!--									<li><a href="form-input-groups.html">Input Groups </a></li>-->
<!--									<li><a href="form-horizontal.html">Horizontal Form </a></li>-->
<!--									<li><a href="form-vertical.html"> Vertical Form </a></li>-->
<!--									<li><a href="form-mask.html"> Form Mask </a></li>-->
<!--									<li><a href="form-validation.html"> Form Validation </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li><a href="tables-basic.html">Basic Tables </a></li>-->
<!--									<li><a href="data-tables.html">Data Table </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>-->
<!--								<ul>-->
<!--									<li class="submenu">-->
<!--										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>-->
<!--										<ul>-->
<!--											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>-->
<!--											<li class="submenu">-->
<!--												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>-->
<!--												<ul>-->
<!--													<li><a href="javascript:void(0);">Level 3</a></li>-->
<!--													<li><a href="javascript:void(0);">Level 3</a></li>-->
<!--												</ul>-->
<!--											</li>-->
<!--											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>-->
<!--										</ul>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="javascript:void(0);"> <span>Level 1</span></a>-->
<!--									</li>-->
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">学生详情</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="students.html">学生</a></li>
									<li class="breadcrumb-item active">学生详情</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="about-info">
										<h4>关于我</h4>

										<div class="media mt-3">
											<img th:src="@{/assets/img/user.jpg}" class="mr-3" alt="...">
											<div class="media-body">
												<ul>
                                                    <li>
                                                        <span class="title-span">姓名: </span>
                                                        <span class="info-span" id="name"></span>
                                                    </li>
                                                    <li>
                                                        <span class="title-span">学号 : </span>
                                                        <span class="info-span" id="id"></span>
                                                    </li>
                                                    <li>
                                                        <span class="title-span">现班级 : </span>
                                                        <span class="info-span" id="present_class"></span>
                                                    </li>
                                                    <li>
                                                        <span class="title-span">现职务 : </span>
                                                        <span class="info-span" id="present_post"></span>
                                                    </li>
                                                    <li>
                                                        <span class="title-span">联系方式 : </span>
                                                        <span class="info-span" id="phone"></span>
                                                    </li>
                                                    <li>
                                                        <span class="title-span">学院: </span>
                                                        <span class="info-span" id="clno"></span>
                                                    </li>
                                                </ul>
											</div>
										</div>

										<div class="row mt-3">
											<div class="col-md-12">
												<p>你好，我是谁谁谁，所以爱会消失。</p>
											</div>
										</div>

										<div class="row follow-sec">
                                            <div class="col-md-4 mb-3">
                                                <div class="blue-box">
                                                    <h3>2850</h3>
                                                    <p>项荣誉</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="blue-box">
                                                    <h3>2050</h3>
                                                    <p>次请假</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="blue-box">
                                                    <h3>2950</h3>
                                                    <p>挂科</p>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">

									<div class="card">
										<div class="card-body">
											<form action="student/update" method="post">
												<div class="row">
													<div class="col-12">
														<h5 class="form-title"><span>具体信息</span></h5>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>原班级</label>
															<input disabled type="text" id="original_class" class="form-control" value="Stephen Marley" name="original_class">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>原职务</label>
															<input  disabled  type="text" id="original_post" class="form-control" value="Stephen Marley" name="original_post">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>专业</label>
															<input disabled type="text" id="major" class="form-control" value="Stephen Marley" name="major">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>方向</label>
															<input disabled type="text" id="direction" class="form-control" value="Stephen Marley" name="direction">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>出生日期</label>
															<div>
																<input disabled type="text" id="birth" class="form-control" value="26 Apr 1994" name="birth">
															</div>
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>民族</label>
															<input disabled type="text" id="nation" class="form-control" value="Stephen Marley" name="nation">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>宗教信仰</label>
															<input disabled type="text" id="religion" class="form-control" value="Religion" name="religion">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>籍贯</label>
															<input disabled type="text" id="nativeplace" class="form-control" value="籍贯" name="nativeplace">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>家庭住址</label>
															<input disabled type="text" id="address" class="form-control" value="籍贯" name="address">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>宿舍楼</label>
															<input disabled type="text" id="bedroom_lou" class="form-control" value="籍贯" name="bedroom_lou">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>宿舍号</label>
															<input disabled type="text" id="bedroom_hao" class="form-control" value="籍贯" name="bedroom_hao">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>身份证号</label>
															<input disabled type="text" id="idcard" class="form-control" value="籍贯" name="idcard">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>银行卡号</label>
															<input disabled type="text" id="bank" class="form-control" value="籍贯" name="bank">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>入学年份</label>
															<div>
																<input disabled type="text"  id="comy" class="form-control" value="4 Jan 2002" name="comy">
															</div>
														</div>
													</div>


													<div class="col-12">
														<h5 class="form-title"><span>父母信息</span></h5>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>父亲姓名</label>
															<input disabled type="text" id="father_name" class="form-control" value="Stephen Marley" name="father_name">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>父亲的职业</label>
															<input disabled type="text" id="father_profession" class="form-control" value="Technician" name="father_profession">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>父亲的手机号</label>
															<input disabled type="text" id="father_phone" class="form-control" value="402 221 7523" name="father_phone">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>母亲姓名</label>
															<input disabled type="text" id="mother_name" class="form-control" value="Cleary Wong" name="mother_name">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>母亲的职业</label>
															<input disabled type="text" id="mother_profession"  class="form-control" value="Home Maker" name="mother_profession">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="form-group">
															<label>母亲的手机号</label>
															<input disabled type="text" id="mother_phone"  class="form-control" value="026 7318 4366" name="mother_phone">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
							<div class="row mt-2">
								<div class="col-md-12">
									<div class="skill-info">
										<div class="row mt-3">
											<div class="col-md-12" id="qingjia">

											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12" id="honour">

											</div>
                                        </div>
									</div>
								</div>
							</div>

							<div class="row mt-2">
								<div class="col-md-12">
									<div class="skill-info">
										<h4></h4>

<!--										<form>-->
<!--											<div class="row mt-3">-->
<!--												<div class="col-12 col-sm-6">-->
<!--													<div class="form-group">-->
<!--														<label>Username</label>-->
<!--														<input type="text" class="form-control">-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="col-12 col-sm-6">-->
<!--													<div class="form-group">-->
<!--														<label>Current Password</label>-->
<!--														<input type="password" class="form-control">-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="col-12 col-sm-6">-->
<!--													<div class="form-group">-->
<!--														<label>New Password</label>-->
<!--														<input type="password" class="form-control">-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="col-12">-->
<!--													<button type="submit" class="btn btn-primary">Submit</button>-->
<!--												</div>-->
<!--											</div>-->
<!--										</form>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer -->
		<footer>
			<p>Copyright © 2021-2025 <a href="https://beian.miit.gov.cn/#/Integrated/index">晋ICP备2020012125号</a></p>
		</footer>
				<!-- /Footer -->
			</div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>


		<!-- Slimscroll JS -->
		<script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

		<!-- Custom JS -->
		<script th:src="@{/assets/js/script.js}"></script>

    </body>
</html>
